{% extends 'base.html' %}


{% block content %}
    <div class="detail_container">
            <div class="detail_box">
                <h1>{{ flight }}</h1>
                <hr>
                <table>
                    <tr>
                        <th>price</th>
                        <th>terminal</th>
                        <th>date</th>
                        <th>plane</th>
                        <th>start</th>
                        <th>destination</th>
                    </tr>
                    <tr>
                        <td>{{ flight.price }}</td>
                        <td>{{ flight.terminal }}</td>
                        <td>{{ flight.date }}</td>
                        <td>{{ flight.plane }}</td>
                        <td>{{ flight.start }}</td>
                        <td>{{ flight.destination }}</td>
                    </tr>
                </table>
            </div>
    </div>
{% endblock %}